{
  "$schema": "http://json.schemastore.org/template",
  "author": "Cyro",
  "classifications": ["Resonite Mod"],
  "name": "Resonite Mod Template",
  "identity": "ResoniteMod",
  "shortName": "resmodtemplate",
  "tags": {
    "language": "C#",
    "type": "project"
  },
  "sourceName": "ResoniteModTemplate",
  "preferNameDirectory": true,
  "symbols": {
    "Name": {
      "type": "parameter",
      "datatype": "text",
      "description": "The nice name for your mod",
      "defaultValue": "Resonite Mod",
      "replaces": "Resonite Mod Template"
    },
    "Author": {
        "type": "parameter",
        "datatype": "text",
        "description": "Your name",
        "defaultValue": "You! :)",
        "replaces": "You! :)"
    },
    "Link": {
        "type": "parameter",
        "datatype": "text",
        "description": "A link to wherever your mod can be found",
        "defaultValue": "resonite.com",
        "replaces": "resonite.com"
    }
  }
}
